.title-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
}

.title-nav > div {
    flex: 1 1 auto;
    align-self: flex-start;
    width: 100%;
}

.polyglot {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    align-content: center;
}

.polyglot > div {
    flex: 1 1 auto;
    align-self: flex-start;
}

.noshow {
    display: none
}

.fr {
}

.en {
}
